$color-primary: #3c44ff; // rgb(60, 68, 255)
$color-secondary: #0569f2; // rgb(5, 105, 242)
$color-neutral: #f7f7f7;


//box-shadow
$bsh-neumorphism: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
$bsh-light: 0px 0px 20px #e1e4ed;

//padding left
$pl: 50;
